<app-header />

<main>
  <ul id="users">
    @for (user of users; track user.id){

    <li>
      <app-user
        [user]="user"
        [selected]="user.id === getSelectedUser?.id"
        (select)="onSelectUser($event)"
      />
    </li>
    }
  </ul>

  @if (getSelectedUser){
  <app-tasks [userID]="getSelectedUser.id" [name]="getSelectedUser.name" />
  } @else {
  <p id="fallback">Select a user to see their tasks</p>
  }
</main>

<!-- <li *ngFor="let user of users">
      <app-user [user]="user" (select)="onSelectUser($event)" />
    </li> -->

<!-- <app-tasks
    *ngIf="selectedUser; else fallback"
    [name]="getSelectedUser!.name"
  />
  <ng-template #fallback>
    <p id="fallback">Select a user to see their tasks</p>
  </ng-template> -->
<!-- <app-tasks [name]="foundUser || 'TASK OF THE USER'" /> -->
